* {
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: 'Roboto';
}

a {
	transition: all 0.3s ease-in-out;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	&:hover {
		color: #228a24;
	}
}

h1, h2, h3, h4, p {
	margin: 0;
}
ul {
	padding: 0;
	margin: 0;
}

img {
	max-width: 100%;
}

input {
	outline: none;
	-webkit-appearance: none;
}

button {
	transition: all 0.3s ease-in-out;
	outline: none;
	-webkit-appearance: none;
}

#wrapper {
	position: relative;
	overflow: hidden;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}

.active {
	a {
		color: #228a24;
	}
}

.border {
	width: 180px;
	border: 1px solid #dce2ec;
	border-radius: 5px;
	margin-bottom: 15px;
	i {
		margin-right: 10px;
		color: #5fa467;
	}
	@include media("<tablet") {
		width: 240px;
	}
}

.sidebar-title {
	color: #000;
	font-size: 1rem;
	font-weight: bold;
}

.main-title {
	background-image: url('../img/intro-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	padding: 70px 0;
	margin-bottom: 20px;
	text-align: center;
	@include media("<desktop") {
		padding: 40px 0;
	}
	@include media("<tablet") {
		padding: 30px 0;
	}
	@include media("<phone") {
		padding: 20px 0;
	}
	h2 {
		font-size: 3.2rem;
		font-weight: 500;
		padding: 0;
		margin-bottom: 20px;

		@include media("<tablet") {
			font-size: 2.2rem;
			margin-bottom: 15px;
		}
		@include media("<phone") {
			font-size: 1.8rem;
			margin-bottom: 10px;
		}
	}
	p {
		font-size: 1.2rem;
		@include media("<tablet") {
			font-size: 1rem;
		}
		@include media("<phone") {
			font-size: .8rem;
		}
	}
}

.content-list {
	max-width: 960px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}